<!-- views/index.ejs -->
<!doctype html>
<html>

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<head>
	<title>Foodbook</title>
	<link href="../css/foodbook.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container" style="align-items: center">
    <div class="row">
        <div class="col-4 col-m-4 indexPage">
            <a href="/auth/facebook" style="background-color:#0080FF"> LOGIN WITH FACEBOOK </a>
        </div>
        <div class="col-4 col-m-8 indexPage">
            <a href="/signin" style="background-color:#04B404"> LOGIN WITH FOODBOOK </a>
        </div>
        <div class="col-4 col-m-8 indexPage">
            <a href="/mainpage" style="background-color:#DF0101"> CONTINUE AS GUEST </a>
        </div>
    </div>
</div>
</body>
</html>
