<!-- views/index.ejs -->
<!doctype html>
<html>

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<head>
	<title>Foodbook</title>
	<link href="../css/foodbook.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="indexPage">
        <ul>
            <li>
                <a href="/auth/facebook" style="background-color:#0080FF"> LOGIN WITH FACEBOOK </a>
            </li>
            <li>
                <a href="/signin" style="background-color:#04B404"> LOGIN WITH FOODBOOK </a>
            </li>
            <li>
                <a href="/mainpage" style="background-color:#DF0101"> CONTINUE AS GUEST </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
