<!-- views/signin.ejs -->
<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign In</title>
	<link href="../css/foodbook.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
	<div class="foodbookForm">
		<div class="row rowNoBorderBottom">
			<div class="col-12" style="text-align: center; padding-top: 40px">
                <% if (message.length > 0) { %>
				<div class="alert alert-danger"><strong><%= message %></strong></div>
                <% } %>
			</div>
		</div>

		<form id="signin-form" action="/signin" method="post">
			<div class="row rowNoBorderBottom rowNoBorderTop">
				<div class="col-2 formLabel">
					<strong><label>Email:</label></strong>
				</div>
				<div class="col-4 formTextbox">
					<input type="email" class="form-control" name="email" required>
				</div>
				<div class="col-2 formLabel">
					<strong><label>Password:</label></strong>
				</div>
				<div class="col-4 formTextbox">
					<input type="password" class="form-control" name="password" required>
				</div>
			</div>

			<div class="row rowNoBorderBottom rowNoBorderTop">
				<div class="col-6">
					<div class="formButton" style="background-color:#04B404">
						<a href="#" onclick="validateForm(); document.getElementById('signin-form').submit();">Sign In</a>
					</div>
				</div>
				<div class="col-6">
					<div class="formButton" style="background-color:#DF0101; float: right">
						<a href="/">Back to Home</a>
					</div>
				</div>
			</div>
		</form>

		<div class="row rowNoBorderTop">
			<div class="col-12">
				<div class="formLabel" style="text-align: center">
					<strong>
						<label>Need a Foodbook account? </label>
						<a href="/register" style="color: brown; background-color: burlywood"><strong>REGISTER</strong></a>
					</strong>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
    function validateForm() {
        var email = document.forms["signin-form"]["email"].value;
        var password = document.forms["signin-form"]["password"].value;
        if (email == "" || password == "") {
            alert("EMAIL and PASSWORD must be filled out");
            return false;
        }
    }
</script>

</body>

</html>