<!-- views/signin.ejs -->
<!doctype html>
<html>

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<head>
	<title>Sign In</title>
	<link href="../css/foodbook.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-12">
            <% if (message.length > 0) { %>
			<div class="alert alert-danger"><strong><%= message %></strong></div>
            <% } %>
		</div>
	</div>

	<form id="signin-form" action="/signin" method="post">
		<div class="row">
			<div class="col-6 formLabel" style="margin-right: 15px">
				<strong><label for="email">Email:</label></strong>
			</div>
			<div class="col-6 formTextbox">
				<input type="email" class="form-control" name="email" required>
			</div>
		</div>

		<div class="row">
			<div class="col-6 formLabel" style="margin-right: 15px">
				<strong><label for="password">Password:</label></strong>
			</div>
			<div class="col-6 formTextbox">
				<input type="password" class="form-control" name="password" required>
			</div>
		</div>

		<div class="row">
			<div class="col-6 formButton" style="background-color:#04B404">
				<a href="#" onclick="validateForm(); document.getElementById('signin-form').submit();">Sign In</a>
			</div>
			<div class="col-6 formButton" style="background-color:#DF0101">
				<a href="/">Back to Home</a>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-12">
			<strong>
				<label>Need a Foodbook account? </label>
				<a href="/register" style="color: brown; background-color: burlywood"><b>REGISTER</b></a>
			</strong>
		</div>
	</div>
</div>
</body>

<script>
    function validateForm() {
        var email = document.forms["signin-form"]["email"].value;
        var password = document.forms["signin-form"]["password"].value;
        if (email == "" || password == "") {
            alert("EMAIL and PASSWORD must be filled out");
            return false;
        }
    }
</script>

</html>